.admin-product{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 800px;
}
.admin-product h3{
    font-weight: bold;
    font-size: 20px;
}


.admin-product button{
    background-color: #9789f3;
    margin-left: 10px;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
}
.admin-product button:hover{
    background-color: #1f06bd;
}


.admin-product .top{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.admin-product .top .top-left{
    display: flex;

}

.admin-product h3 {
    text-align: center;
}

.admin-product .top .top-left select{
    margin-left: 10px;
    border-radius: 8px ;
    border: 1px solid #9E9E9E;
    height: 25px;
    background-color: #E0E0E0;
}

.admin-product .top .top-left .search{
    padding-left: 20px;
}

.admin-product input{
    border-radius: 8px ;
    border: 1px solid #9E9E9E;
    height: 25px;
}

.admin-product .status-delivered p{
    background-color: #EBF9F1;
    border-radius: 24px;
    color: #1F9254;
    text-align: center; 
    margin: 0px;
}

.admin-product .status-not-delivered p{
    background-color: #FEF2E5;
    border-radius: 24px;
    color: #CD6200;
    text-align: center;   
    margin: 0px;
}


.admin-product .status-cancelled p{
    background-color: #FBE7E8;
    border-radius: 24px;
    color: #A30D11;
    text-align: center; 
    margin: 0px;
}


.admin-product .top .top-right button{
    border-radius: 8px ;
    border: 0px solid #9E9E9E;
    height: 25px;
    background-color: #624DE3;
    color: white;
}


.admin-product .pagination{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding-top: 50px;
    

}

.admin-product .pagination button{
    border-radius: 8px ;
    border: 0px solid #9E9E9E;
    width: 25px;
    height: 25px;
}

.admin-product .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .admin-product .popup select{
    width: 80%;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .admin-product .popup button{
    width: 40%;
  }
  .admin-product .popup .action{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
    z-index: 999; /* Đảm bảo lớp nền được hiển thị phía trên mọi nội dung khác */
  } 

.admin-product .pagination button{
    margin-right: 5px;
    margin-left: 5px;
    background-color: #E0E0E0;
}

.admin-product .pagination .btnext{
    margin-right: 10px;
    margin-left: 10px;
    background-color: #ffffff;
    width: auto;
    height: 25px;
}


.admin-product .pagination .active {
    background-color: #624DE3;
    color: white;
}


.admin-product .thongtin{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 30px;
}

.admin-product .bt-edit {
    color: #624DE3;
    border: 0px;
    background-color: transparent;
    font-size: 20px;
}
.admin-product .bt-delete {
    color: #A30D11;
    border: 0px;
    background-color: transparent;
    font-size: 20px;
}

/* Thiết lập cho bảng */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Thiết lập cho tiêu đề của bảng */
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 8px;
    text-align: left;
  }
  
  /* Thiết lập cho các dòng của bảng */
  td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  
  /* Đổi màu của từng dòng */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Đổi màu của dòng được hover */
  tr:hover {
    background-color: #ddd;
  }
  