
.admin_container{
    height: 100%;
}
.admin_container .admin_container_body{
    display: flex;
}
.admin_container .admin_container_body .right{
    padding-left: 30px;
    width: 70%;
}
.admin_container .left{
    width: 20%;
    height: auto;
    background: linear-gradient(45deg, #FFFFFF, #D2D2D2);
    max-width: 250px;
    margin-top: 0px;
}
.admin_container .left-top{
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 10px;
}
/* .admin_container .left h2{
    margin: 0px !important;
    margin-left: 10px !important;
} */
.admin_container .left-chil{

    
    display: flex;
    padding-left: 30px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.admin_container .left-chil .button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    
}

.admin_container .left-chil .button .active{
    color: #1E537C;
}

.admin_container .left-chil button{
    margin-bottom: 10px;
    font-weight: bold;
}
.admin_container .left-chil .vertical-line {
    border: 1px solid rgb(0, 0, 0); /* Chiều rộng của đường kẻ */
    height: 180px; /* Chiều cao của đường kẻ (có thể điều chỉnh) */
    background-color: #000; /* Màu sắc của đường kẻ */

  }
.admin_container .left-chil button{
    border: 0px;
    background-color: transparent;
}
.admin_container .left-chil button:hover{
    color: #1E537C;
}