.create_product{
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 1050px;

}
.create_product h2{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

.create_product .product_info_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.create_product .product_info_left{
    display: flex;
    flex-direction: column;
}

.create_product .avatar-preview{
    display: flex;
    margin: 10px;
    gap: 20px;
}

.create_product .product_info_right{
    display: flex;
    flex-direction: column;
}


.create_product .description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.create_product .type_product,
.create_product .avatar,
.create_product .product_name,
.create_product .trade_make,
.create_product .price,
.create_product .number,
.create_product .label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.create_product .check_noibac{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.create_product .check_noibac .input{
    
    width: 300px; 
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.create_product .check_noibac .input input{
    
    width: 20px; 
    height: 30px;
}


.create_product input{
    width: 300px;
    margin-top: 10px;
    height: 30px;
}

.create_product textarea{
    margin-top: 10px;
    width: 300px !important;
}

.create_product select{
    margin: 10px 0px 0px 0px !important;
    padding: 0px !important;
    width: 305px !important;
    height: 30px !important;
}
.create_product .bthem{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100001;
}
